input {
    width: 50%;
    height: 100;
}
body {
    text-align: center;
    background-color: #FFFFE0
}
h1{
    text-align: center;
}
input {
    width: 10%;
}
button {
    margin: 1%;
}
#equal{
    padding: 5px 15px;
}